**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

agent/
service/

/dyor_agent

# Packages
packages/eightballer
packages/open_aea

workflow.yaml

# Docker
docker_envs/data

# Alembic
migrations/versions/*.pyc
migrations/__pycache__/
migrations/versions/__pycache__/